@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  background-color:   #710816;
  font-family:'Courier New', Courier, monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: ##fff4f0;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --black: #000;
}
:focus{
    outline: 1vh solid #710816;
}


@media screen and (min-width: 901px) and (max-width: 4000px)  {





body{
  display: flex;
  align-items: center;
  justify-content:center;
  min-width: 300px;
  max-height: 100%;
  min-width: 400px;
  max-width: 100%;
  margin-top: 50px;
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
}
div.wrapper{
  width: 85%;
  padding: 5px 6px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 5px 5px var(--black);
  background-color: #fff4f0;
}
div.wrapper i{
  cursor: pointer;
  justify-content: center;
}


div.wrapper1{
  background-color: #fff4f0;
  /* margin-top: 1000px; */
  margin-left: 50px;
  width: 85%;
  height: 100%;
  padding: 5px 6px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 5px 5px var(--black);
  background-color: #fff4f0;
}
div.wrapper1 i{
  cursor: pointer;
  justify-content: center;
}

input[type=submit]{

  padding: 5px 10px; 
  margin:5px; 
  height:30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  background-color: #fff4f0; 
  outline: none; 
  border: 1px solid #980E27; 
  color: #980E27;  
  font-weight: bold;

  
}

input[type=input]
{
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  background-color: #fff4f0; 
  outline: none; 
  border: 1px solid #980E27; 
  color: #980E27;  
  font-weight: bold;

  padding: 5px 10px; 
  margin:5px; 
  height:30px;
}


input
{
  padding: 5px 10px; 
  margin:5px; 
  height:30px;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  background-color: #fff4f0; 
  outline: none; 
  border: 1px solid #980E27; 
  color: #980E27;  
  font-weight: bold;

}

input:active, input:focus{
  outline: none; 
  border: 1px solid #980E27; 
}

ul[type=activity]
{
  height: 200px; 
  font-family:'Courier New', Courier, monospace;
  width: 600px; 
  overflow: hidden; 
  overflow-y: scroll;
  margin: 40px;
  margin-top: 10px;
}

li{
  font-family:'Courier New', Courier, monospace;
}

button{

  padding: 5px 10px; 
  margin:5px; 
  height:30px;

  font-family:'Courier New', Courier, monospace;
  display: right;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #F5B1B0; 
  border: 1px solid #980E27; 
  color: #980E27;  
  border-radius: 7px; 
  font-weight: bold;
}

button:active, button:focus{
  box-shadow: 0px 5px 5px var(--black);
  outline: none; 
  border: 1px solid #980E27; 
}

button:hover{
  background-color: #ea9f9d;
}

label
{
  margin: 10px;
  font-family:'Courier New', Courier, monospace;
}

p
{
  margin: 10px;
  font-family:'Courier New', Courier, monospace;
}

select
{
  margin: 5px;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px, 10px;;
  text-align: left;
  background-color: #fff4f0; 
  outline: none; 
  border: 1px solid #980E27; 
  color: #980E27;  
  font-weight: bold;
}


}



  /* @media screen and (min-width: 0px) and (max-width: 900px){


    body{
      display: flex;
      align-items: center;
      justify-content:center;
      width: 80%;
      height: 80%;
      max-width: 720px;
      max-height: 720px;
      margin-top: 50px;
    }
    div.wrapper{
      width: 80%;
      padding: 2px 3px;
      overflow: hidden;
      position: relative;
      border-radius: 2.5px;
      background: var(--white);
      box-shadow: 0px 2.5px 2.5px var(--black);
    }
  
    } */